<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background: rgb(34, 30, 26);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
      h1 {
        text-transform: uppercase;
        font-size: 2em;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      img {
        min-width: 90vw;
      }
    </style>
  </head>
  <body>
    <h1>http://192.168.55.13:8081/video - a live stream</h1>
    <img
      src="http://192.168.55.13:8081/video
    "
      alt="camera feed "
    />
  </body>
</html>